Source: glauth
Maintainer: Dato Simó <dato@net.com.org.es>
Section: golang
Priority: optional
Build-Depends:
 debhelper-compat (= 13),
 dh-golang,
 golang-any,
Standards-Version: 4.6.0
Homepage: https://github.com/glauth/glauth
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/glauth/glauth

Package: glauth-binary-dist
Provides: glauth
Conflicts: glauth
Architecture: amd64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: A lightweight LDAP server for development or home use (program)
 Go-lang LDAP Authentication (GLAuth) is a secure, easy-to-use, LDAP server
 with configurable backends.
 .
 Use it to centralize account management across your Linux servers, your
 OSX machines, and your support applications.
 .
 Features:
 .
  * Centrally manage SSH keys, Linux accounts, and passwords for cloud
    servers.
  * Lightweight alternative to OpenLDAP and Active Directory for
    development, or a homelab.
  * Store your user directory in a file, local or in S3; SQL database; or
    proxy to existing LDAP servers.
  * Two Factor Authentication (transparent to applications).
  * Multiple backends can be chained to inject features.
 .
 THIS PACKAGE CONTAINS A PRE-COMPILED BINARY.
